In [1]:
#----------importing pandas & creating a object pd-------------------
import pandas as pd

#------ Importing the processed csv

iris_data = pd.read_csv('dataSet/iris-data_cleaned_1.0.csv')

iris_data.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       147.000000      147.000000       147.000000      147.000000
mean          5.863946        3.058503         3.807483        1.223550
std           0.792512        0.432869         1.748427        0.758009
min           4.400000        2.000000         1.000000        0.100000
25%           5.150000        2.800000         1.600000        0.300000
50%           5.800000        3.000000         4.400000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [2]:
#--Test Case I - confirming the value of flower types is 3

print ("\033[1m \033[94m Test Case I : The type of flowers are 3 \033[0m")

assert len(iris_data['type'].unique() ) == 3
print ("Tested : No Errors \nValues : \n")

print (iris_data['type'].unique())

  Test Case I : The type of flowers are 3
Tested : No Errors
Values :

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [3]:
# Test Case II - Comparing the count of sources in data sheet with the Test List provided.

print '\033[1m \033[94mTest Case II : Comparing the count of source list with test list \033[0m'

test_data = pd.read_csv('dataSet/iris-data_test_1.0.csv')

test_list = test_data['source'].unique()
source_list = iris_data['source'].unique()


# Matching the count with if statement

if len(test_list) == len(source_list):
    print '\nNumber of source list matches test list\n'
   
        
else :                           # Finding out which data is different in case of mismatch
    print '\nMismatch in the count of Test Data & Source Data\n'
    
    if len(test_list) < len(source_list): 
        print ('Test set have '+ str(len(test_list)) + ' types, whereas data sheet have '+ str(len(source_list)) + 'types.')
        
        y = 0
        while y<len(source_list):
            print source_list[y]
            y += 1
                
    else :
        print ('Test set have '+ str(len(test_list)) + ' types, whereas data set have '+ str(len(source_list)) + ' types.')
        
        y = 0
        while y<len(test_list):
            print test_list[y]
            y += 1

 Test Case II : Comparing the count of source list with test list

Number of source list matches test list

In [4]:
# Test Case to compare the value of the test list and source list


print 'Test Case - III : compare the value of the available source lists with the test list\n'

z = 0

while z<len(test_list):
    if test_list[z] == source_list[z] :
        print ('Elements matched with test list - ' + test_list[z])
        z += 1
        
    elif test_list[z] != source_list[z] :
        print ('The '+ str(z) + ' element '+ test_list[z] + ' did not matched with ' + source_list[z])
        
        iris_data.loc[iris_data['source'] == source_list[z], 'source'] = test_list[z] # Fixing the mismatch 
        print ('iris-data_cleaned_1.0.csv updated with value : '+ test_list[z])
        
        #Update the Data Set with the value from the test data

        iris_data.to_csv("dataSet/iris-data_cleaned_1.0.csv", index=False)

        iris_data_updated = pd.read_csv('dataSet/iris-data_cleaned_1.0.csv', na_values=['NA'])

        print ('The new values are :\n') 
        print iris_data_updated['source'].unique()
        
        z += 1
                
    else :
        break

Test Case - III : compare the value of the available source lists with the test list

Elements matched with test list - Kolkata
Elements matched with test list - Gujrat
Elements matched with test list - Rinku