<a href="https://colab.research.google.com/github/madnira/notebook/blob/feature%2Fsample/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Playing with a Studetnt result data set

import pandas as pd
pd.Series([1,2,3,4,5])

In [ ]:
# Creating the student data frame

name = ["Nasir", "Islam", "Sujan", "Sagor", "Jamal", "Rony", "Rana", "Shahin", "Jony", "Sumon"]
math = [99, 58, 30, 40, 70, 77, 83, 68, 23, 0]
english = [78, 67, 34, 33, 32, 21, 45, 89, 95, 10]
physics = [20, 50, 55, 43, 78, 87, 46, 98, 69, 35]


result = pd.DataFrame({
               "Name" : name,
               "Math" : math,
               "English": english,
               "Physics" : physics
             })

result

In [ ]:
# Playing around with Pandas HEAD / TAIL options

print(result.head()) 
print(result.head(2))

print(result.tail())

In [ ]:
# STATISTICAL interpretation

print(result.describe())

In [ ]:
# Other play around options

result.rename(columns={
      "Math": "Science", 
      "Physics" : "Biology",
      "English": "Chemistry"}, inplace=True)

result

# Calculations inthe data set

print(result["Name"][result["Chemistry"]<33])

In [ ]:
# Importing student dataset

dataset = pd.read_csv(r"student_result.csv")
print(dataset.head())

In [ ]:
# Getting MAX , MIN , AVG and other values from different columns from the dataset

print("Max in Math, Bangla, english ",dataset.math.max(), dataset.bangla.max(), dataset.english.max())
print("Min in English",dataset.english.min())
print("Total count of rows for math",dataset.math.count())

print ("Average socre in Maths",dataset.math.mean())
print (dataset.loc[dataset['bangla'].idxmin()])

In [ ]:
#Print the column1 with a condition on column 2
print(dataset['name'][dataset['math']>50])

#Print col1 & col2 with a conditin on col3
print (dataset[['name','math']][dataset['math']>50])

In [ ]:
# Print all rows with a condition in a col
#print (dataset[:][dataset['bangla']<30])

# Print all rows with a col value - NULL
print (dataset[:][dataset['result'].isnull()])

In [ ]:
# Setting 1 column as index for all rows
dataset.set_index('name')
# Dropping the index from the dataset
dataset.reset_index(drop=True)

In [ ]:
dataset.sum()

In [ ]:
#Calculate week number from the date
input_date = pd.to_datetime('2017-08-01')

def week_number(input_date):
    return input_date.isocalendar()[1]

print(week_number(input_date))

In [ ]:
#Take input from the user for date, month and year
#Function to calculate week number
#Exception handling for invalid date
import datetime

print("Enter the day")
d = int(input())
print("Enter the month")
m = int(input())
print("Enter the year")
y = int(input())

def week_number(d,m,y):
    try:
        input_date = datetime.date(y,m,d)
    except ValueError:
        print("Invalid date")
    else:
        return input_date.isocalendar()[1]

print(week_number(d, m, y))