<a href="https://colab.research.google.com/github/madnira/notebook/blob/feature%2Fsample/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Playing with a Studetnt result data set

import pandas as pd
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Creating the student data frame

name = ["Nasir", "Islam", "Sujan", "Sagor", "Jamal", "Rony", "Rana", "Shahin", "Jony", "Sumon"]
math = [99, 58, 30, 40, 70, 77, 83, 68, 23, 0]
english = [78, 67, 34, 33, 32, 21, 45, 89, 95, 10]
physics = [20, 50, 55, 43, 78, 87, 46, 98, 69, 35]


result = pd.DataFrame({
               "Name" : name,
               "Math" : math,
               "English": english,
               "Physics" : physics
             })

result

In [ ]:
# Playing around with Pandas HEAD / TAIL options

print(result.head()) 
print(result.head(2))

print(result.tail())

In [ ]:
# STATISTICAL interpretation

print(result.describe())

In [ ]:
# Other play around options

result.rename(columns={
      "Math": "Science", 
      "Physics" : "Biology",
      "English": "Chemistry"}, inplace=True)

result

# Calculations inthe data set

print(result["Name"][result["Chemistry"]<33])

In [10]:
# Importing student dataset

dataset = pd.read_csv(r"student_result.csv")
print(dataset)

    math  bangla  english  result
0     70      80       90       1
1     30      40       50       0
2     50      20       35       0
3     80      33       33       1
4     33      35       36       1
5     32      80       35       0
6     40      50       21       0
7     33      35       35       1
8     60      23       10       0
9     33      34       35       1
10    50      40       40       1
11    35      40       30       0
12     0       0        0       0
13    10      10       10       0
14    33      33       33       1

In [30]:
# Getting MAX , MIN , AVG and other values from different columns from the dataset

print("Max in Bangla",dataset.bangla.max())
print("Total count of rows for math",dataset.math.count())

Max in Bangla 80
Total count of rows for math 15